/*
 * Layout
 * - Generic Styles
 * - Specific Styles
 * - Mobile Styles
 *
*/

/* - Generic Styles */

/* | Generic Scrollbar */
::-webkit-scrollbar { width: 7px; padding-left:20px; }
::-webkit-scrollbar-track { background-color:#EBEBEB; border-radius:12px; }
::-webkit-scrollbar-thumb { background-color:#C4C4C4; border-radius:12px; }

/* | Generic Form */
.generic-form input[type="text"], .generic-form input[type="password"] {
  display:block;
  padding:5px 10px;
  width:380px;
  margin-bottom:1em;
  border-radius:5px;
  border:1px solid #B5B5B5;
}
.generic-form input[type="submit"] { 
  float:right; 
  padding:6px 22px;
  border-radius:5px;
  font-weight:bold;
  border:none;
  border-top:1px solid #868686;
  border-bottom:1px solid #535353;
  color:#fcfbfb;
  text-decoration:none;
  background-color:#7C7C7C;
  background:-webkit-gradient(linear, left top, left bottom, from(#7c7c7c), to(#6c6c6c));
}
.generic-form input[type="submit"]:hover {
  background-color:#3C9FE6;
  background: -webkit-gradient(linear, left top, left bottom, from(#3C9FE6), to(#2A87C9));
  border-top: 1px solid #48AEF7;
  border-bottom: 1px solid #2581C2;
  cursor:pointer;
}

/* | Generic Document */
.generic-document { width:650px; margin:0 auto; padding:2em 0; }

/*   |- Meta */
.generic-meta { width:650px; margin:0 auto; padding:1em 0; border-top:1px dashed #CCCCCC; }

/* | Tool-tips */
#control-bar a { position:relative; }
.tool-tip { 
  position:absolute; 
  display:none; 
  background-color:black; 
  padding:10px; 
  border-radius:5px;
  width:100px;
}
#export .tool-tip { right:0; }
#control-bar a:hover .tool-tip {
/*
 * display:block;
 * disabled until I can design a better solution.
 *
*/
}

/* - Specific Styles */

/* | Body of page */
#index { position:relative; }

/* | Landing page */
.container { width:400px; margin:0 auto; margin-top:50px; }

/* | About Just Write */
#about-just-write { clear:both; margin-top:40px; }

/* | Published Document */
#published-document { background-color:#F5F4F2; }
.back-to-editor { width:650px; margin:0 auto; margin-bottom:1em; }

/* | Control bar for writer view */
#main-menu { position:fixed; }

#control-bar {
  padding:10px 40px;
  background-color:#212121;
  background: -webkit-gradient(linear, left top, left bottom, from(#030303), to(#363636));
  color:#fff;
  border-bottom:1px solid white;
  text-align:center;
  float:left;
}
#control-bar li { display:inline-block; font:bold 16px/21px Helvetica, Arial, Sans-serif; }


/* |- Document controls */
#doc-controls, #current-doc-controls { margin-top:4px; }
#doc-controls { float:left; }
#current-doc-controls { float:right; }
#doc-link { position:relative; }
#doc-link img { vertical-align:-4px; margin-right:20px; } 

#document-controls { background-color:#FCFCFC; overflow:hidden; padding:5px; float:left; width:100%; margin:0; }
#document-controls li { display:block; float:left;  text-decoration:none; margin-right:10px; }
.block li { float:none!important; }
#document-controls a, #all-documents li a { padding-right:10px; }

#new-document img { vertical-align:1px; }

#title { margin:0 auto; text-align:center; width:45%; }
#title input:focus { outline:none; }
#title input {
  padding:5px;
  width:100%;
  background:transparent;
  border:none;
  color:#FCFBFB;
  text-align:center;
  height:20px;
}

.button { margin-right:20px; }

.button a {
  padding:6px 22px;
  border-radius:6px;
  background-color:#7c7c7c;
  background:-webkit-gradient(linear, left top, left bottom, from(#7c7c7c), to(#6c6c6c));
  border-top:1px solid #868686;
  border-bottom:1px solid #535353;
  color:#fcfbfb;
  text-decoration:none;
  box-shadow:0px 2px 1px #1F1F1F;
}

.button a:hover {
  background-color:#3C9FE6;
  background: -webkit-gradient(linear, left top, left bottom, from(#3C9FE6), to(#2A87C9));
  border-top: 1px solid #48AEF7;
  border-bottom: 1px solid #2581C2;
  box-shadow: 0px 0px 10px #1881CC;

}

#saving { vertical-align:-4px; margin-right:10px; width:20px; display:inline-block; }

#saved {
  padding:3px;
  border-radius:3px;
  background-color:#7c7c7c;
  background:-webkit-gradient(linear, left top, left bottom, from(#7c7c7c), to(#6c6c6c));
  border-top:1px solid #868686;
  border-bottom:1px solid #535353;
  box-shadow:0px 2px 1px #1F1F1F;
  vertical-align:2px; 
  width:10px;
  height:10px;
}

.edit a{
  background-color:#87BAF5;
  background:-webkit-gradient(linear, left top, left bottom, from(#87BAF5), to(#6095D1));
  border-radius:5px;
  color:white;
  border-bottom:1px solid #5184BD;
  border-top:1px solid #93C3FA;
  box-shadow:0px 2px #fff;
}

.edit a:hover {
  background-color:#a0c8f6;
  background:-webkit-gradient(linear, left top, left bottom, from(#a0c8f6), to(#85aedd));
  border-bottom:1px solid #779ecb;
  border-top:1px solid #aacffa;
}

.edit a { padding:5px 10px; color:#fff; }

.more { float:right!important; margin-right:50px!important; }

/* | Document textarea */
#document-container { padding:70px 40px 50px 40px; background-color:#FCFCFC; }
#document { width:90%; margin:0 auto; border:none; display:block; height:1000px; background:transparent; resize:none; padding:0 30px; }
#document:focus { outline:none; }


/* | Logout */
#logout { position:absolute; bottom:20px; right:20px; }
#logout img { vertical-align:-3px; margin-right:10px; }

/* | All Documents List */
#all-documents {
  z-index:1;
  font-weight:bold;  
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-200px;
  margin-left:-270px;
  background-color:#F5F5F5;
  width:500px;
  padding:20px;
  border-radius:5px;
  box-shadow:0px 0px 10px #9C9C9C;
}

#all-documents-list { height:315px; overflow-y:auto }
#all-documents-list li { clear:both; margin-bottom:10px; overflow:hidden; list-style:none; }
#all-documents-list .delete { float:left; }
#all-documents-list .doc-title { float:left; width:310px; }
.close img { position:absolute; top:-13px; right:-14px; background-color:#363636; padding:7px; border-radius:5px; }
.close img:hover { background-color:#3c9fe6; }
div.edit { margin-top:20px; }
.timestamp { float:right; margin-right:20px; }

/* Mobile Styles */
@media only screen and (max-width : 480px) {

  /* Document list */
  #document-controls li { margin-bottom:10px; }
  .more { margin-bottom:0!important; margin-top:10px; }

  /* All Documents modal window */
  #all-documents { width:300px; margin-left:-170px; }
  #all-documents-list .doc-title { width:160px; }

}
