/*
 * Layout
 * - Generic Styles
 * - Specific Styles
 * - Mobile Styles
 *
*/

/* - Generic Styles */
#index, textarea, input { font: 14px/24px Helvetica, Arial, Sans-serif; color:#1A1A1A; }
.tool-tip { color:#FCFBFB; font:0.875em/1.188em Helvetica, Arial; }
.error { font-weight:bold; color:#E01B1B; }
.message { background-color:#D8E9F2; padding:10px; border:1px solid #9FBFCF; }
.generic-form h2 { color:#999; text-align:center; padding:10px 0; }
p { margin-bottom:1em; }
em { font-style:italic; }
strong { font-weight:bold; }


/* | Headings */
h1, h2, h3, h4, h5 { font-weight:bold; }

h1 { font:bold 1.5em/1.875em Helvetica, Arial, 'sans-serif'; letter-spacing:-1px; }
h2 { font-size:1.375em; line-height:1.75em; }
h3 { font-size:1.25em; line-height:1.625em; }
h4 { font-size:1.125em; line-height:1.5em; }
h5 { font-size:1em; line-height:1.313em; font-style:italic; }
h6 { font:bold-italic 0.875em/1.188em Georgia, 'serif'; }

/* | Links */
a { font-weight:bold; text-decoration:none; color:#B5B5B5; }
a:hover { color:#666666; }

/* - Specific Styles */

/* | Sign up call to action */
#sign-up { padding:6px 22px; background-color:#363636; color:#fcfbfb; border-radius:5px; }
#sign-up:hover { background-color:#3c9fe6; }

/* | Document Controls */
#document-controls { font-weight:bold; } 
.more a{ color:#61A0E8; }
.more a:hover { color:#306FB8; }

/* | Document */
#document { font:1.286em/2em Georgia, Serif; }

/* | Logout + Login Nav */

/* | All Documents */
.timestamp { color:#D1D1D1; }
a:hover .timestamp { color:#666666; }
#all-documents li a:hover { color:#61A0E8; } 
