/*
 * Layout
 * - Common Styles
 * - Generic Styles
 * - Specific Styles
 * - Mobile Styles
 *
*/

/* - Common Styles */
#index, textarea, input { font: 14px/24px Helvetica, Arial, Sans-serif; color:#1A1A1A; }
.tool-tip { color:#FCFBFB; font:0.875em/1.188em Helvetica, Arial; }
.error { font-weight:bold; color:#E01B1B; }
.confirmation { font-weight:bold; color:#74BA1E; }
.message { background-color:#D8E9F2; padding:10px; border:1px solid #9FBFCF; }
p { margin-bottom:1em; }
em { font-style:italic; }
strong { font-weight:bold; }
ol, ul { margin-bottom:1em; }
small { font:0.643em/1em verdana, sans-serif; }

/* - Generic Styles */

/* |- Forms */
.generic-form h2 { color:#999; text-align:center; padding:10px 0; }

/* |- Published Documents */
.generic-document { font:1.143em/1.857em Georgia, serif; }

/* |- Generic Navigation Menu */
.generic-menu-heading { font-weight:bold; }
.generic-menu-copy { font-weight:normal; }

/* |- Call to Action */
.call-to-action { font-size:1.3em; }
.small.call-to-action { font-size:1em; }

/* | Headings */
h1, h5 { font-weight:bold; }

h1 { font:bold 1.5em/1.875em Helvetica, Arial, 'sans-serif'; letter-spacing:-1px; }
h2 { font-size:1.3em; line-height:1.75em; }
h3 { font-size:1.25em; line-height:1.625em; }
h4 { font-size:1.125em; line-height:1.5em; }
h5 { font-size:1em; line-height:1.313em; }
h6 { font:bold italic 0.875em/1.188em Georgia, 'serif'; }

/* | Links */
a { font-weight:bold; text-decoration:none; color:#B5B5B5; }
a:hover { color:#666666; }
#published-document a { font-weight:normal; color:#8A8A8A; }
#published-document a:hover { color:#6E6E6E; border-bottom:1px dashed #FA9005; }

/* - Specific Styles */

/* |- Landing Page */
#container p { font-size:1.143em; }
#container p a, #container p { font-family:Georgia; }
#container p a { font-weight:normal; }
#container h2, #container h3, #container h4, #container h5 { font-weight:bold; letter-spacing:-2px; }
#container h2 { font-size:2.286em; }
#container h3 { font-size:1.714em; line-height:1.3em; letter-spacing:-1px; }

/*    |- Introduction */
#write-your-own { font:bold 4.286em/1em Georgia, serif; letter-spacing:-3px; text-align:left; }

/*    |- Login Form */
#login-form h2, #login-form a { color:#fff; }

/* | Sign up call to action */
.container { width:400px; margin:0 auto; padding-top:50px; }
#sign-up { padding:6px 22px; background-color:#363636; color:#fcfbfb; border-radius:5px; }
#sign-up:hover { background-color:#3c9fe6; }

/* | Document title */
#title input { font:bold 1em/1em Helvetica, Arial, Sans-serif; letter-spacing:0px; }

/* | Document Controls */
#document-controls { font-weight:bold; } 
.more a{ color:#61A0E8; }
.more a:hover { color:#306FB8; }

/* | Document */
#document { font:1.286em/2em Georgia, Serif; }

/* | Logout + Login Nav */

/* | All Documents */
.timestamp { color:#D1D1D1; }
a:hover .timestamp { color:#666666; }
#all-documents li a:hover { color:#61A0E8; }

/* | Ads */
.ad { font:0.714em/1.5em verdana, sans-serif; }
.ad a { font-weight:bold!important; }

/* | Mobile Styles */
@media only screen and (max-width : 480px) {
  
  /* |- Global Font Styles */
  #index, textarea, input { font-size:12px; line-height:22px; }

  /* Document Title */
  #title input { font:bold 0.875em/0.875em Helvetica, Arial, Sans-serif; letter-spacing:-1px; }
}
